body {
  background: url(https://ae01.alicdn.com/kf/HTB15AEWPpXXXXcYaXXXq6xXFXXXt/2017-3-Panel-Unframed-Fruit-Kitchen-font-b-Restaurant-b-font-Decorated-Large-font-b-HD.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#padre {
  background-color: rgba(75, 143, 221, 0.2);
}
.right {
  float: right;
}
.borde {
  border: 1px solid silver;
  border-radius: 7px;
}
.centro {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
