body {
  background: url(https://ae01.alicdn.com/kf/HTB15AEWPpXXXXcYaXXXq6xXFXXXt/2017-3-Panel-Unframed-Fruit-Kitchen-font-b-Restaurant-b-font-Decorated-Large-font-b-HD.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
