body {
  background-image: url(http://3.bp.blogspot.com/-IcWzojKN1go/UOwitWOs8tI/AAAAAAAAxcc/YC5dRbUYvlo/s1600/Playa-Paradisiaca_Fondos-de-Pantalla-de-Playas.jpg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
